<resources>
    <properties>
        <property id="ClimbCat3" type="number">3</property>
        <property id="ClimbCat2" type="number">6</property>
        <property id="ClimbCat1" type="number">9</property>
        <property id="ClimbCatHc" type="number">12</property>
        <property id="AltErrMeasure" type="float">5</property>
        <property id="AltErrEstimate" type="float">0.5</property>
        <property id="AltMaxProcessNoise" type="float">0.1</property>
        <property id="DistErrMeasure" type="float">5</property>
        <property id="DistErrEstimate" type="float">0.10</property>
        <property id="DistMaxProcessNoise" type="float">2</property>
    </properties>
    <settings>
        <setting propertyKey="@Properties.ClimbCat3" title="@Strings.ClimbCat3_Title" prompt="@Strings.ClimbCat_Prompt">
            <settingConfig type="numeric" required="true" min="0" />
        </setting>
        <setting propertyKey="@Properties.ClimbCat2" title="@Strings.ClimbCat2_Title" prompt="@Strings.ClimbCat_Prompt">
            <settingConfig type="numeric" required="true" min="0" />
        </setting>
        <setting propertyKey="@Properties.ClimbCat1" title="@Strings.ClimbCat1_Title" prompt="@Strings.ClimbCat_Prompt">
            <settingConfig type="numeric" required="true" min="0" />
        </setting>
        <setting propertyKey="@Properties.ClimbCatHc" title="@Strings.ClimbCatHc_Title" prompt="@Strings.ClimbCat_Prompt">
            <settingConfig type="numeric" required="true" min="0" />
        </setting>
        <setting propertyKey="@Properties.AltErrMeasure" title="@Strings.Altitude_ErrMeasure_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.AltErrEstimate" title="@Strings.Altitude_ErrEstimate_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.AltMaxProcessNoise" title="@Strings.Altitude_MaxProcessNoise_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.DistErrMeasure" title="@Strings.Distance_ErrMeasure_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.DistErrEstimate" title="@Strings.Distance_ErrEstimate_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.DistMaxProcessNoise" title="@Strings.Distance_MaxProcessNoise_Title" prompt="@Strings.KalmanFilter_Prompt">
            <settingConfig type="numeric" required="true" />
        </setting>
    </settings>
</resources>